@page
@model WebApp.Pages.TodoTaskCategories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TodoTaskCategory[0].TodoTaskCategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TodoTaskCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TodoTaskCategoryName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TodoTaskCategoryId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TodoTaskCategoryId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TodoTaskCategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
